<!DOCTYPE html>
<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Smart Factory Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <a href="/">Dashboard</a>

        <a href="/history">History</a>

    </div>

    <h1>Smart Factory Dashboard</h1>

    <div class="dashboard">

        <div class="card">

            <h2>Machine Status</h2>

            {% if machine_status == "ON" %}
                <p class="status-on">{{ machine_status }}</p>
            {% else %}
                <p class="status-off">{{ machine_status }}</p>
            {% endif %}

        </div>

        <div class="card">

            <h2>Temperature</h2>

            <p>{{ temperature }} °C</p>

        </div>

        <div class="card">

            <h2>Efficiency</h2>

            <p>{{ efficiency }} %</p>

        </div>

        <div class="card">

            <h2>Alert Status</h2>

            {% if temperature > 40 %}
                <p class="alert">High Temperature Alert!</p>
            {% else %}
                <p>System Normal</p>
            {% endif %}

        </div>

        <div class="card">

            <h2>Temperature Graph</h2>

            <canvas id="tempChart"></canvas>

        </div>

    </div>

    <footer>

        Smart Factory Dashboard © 2026

    </footer>

    <script>

        const ctx = document.getElementById('tempChart').getContext('2d');

        new Chart(ctx, {

            type: 'line',

            data: {

                labels: {{ labels|tojson }},

                datasets: [{

                    label: 'Temperature',

                    data: {{ temp_values|tojson }},

                    fill: false,

                    tension: 0.3,

                    borderWidth: 3

                }]

            },

            options: {

                responsive: true,

                plugins: {

                    legend: {

                        labels: {

                            color: 'white'

                        }

                    }

                },

                scales: {

                    x: {

                        ticks: {

                            color: 'white'

                        }

                    },

                    y: {

                        ticks: {

                            color: 'white'

                        }

                    }

                }

            }

        });

    </script>

    <script>

        setTimeout(function(){

            location.reload();

        }, 5000);

    </script>

</body>

</html>